module6-training4-american-ws/src/main/mule/module6-training4-american-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4f55e60c-1df3-4ac7-8bd3-8e2b13ddc2a5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="147ce893-d7af-4978-8ee5-8afefd54740d" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="helloFlow" doc:id="63b4a4ce-0d69-4243-a945-9333bad261fc" >
		<http:listener doc:name="GET /hello" doc:id="d72643c5-9307-498d-941a-6f0ce5d424de" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="2d5c1095-a24a-4f19-87d3-324f75b6ca06" variableName="firstName"/>
		<set-payload value="Hello" doc:name="Hello" doc:id="19267b6c-90ca-4625-bd3e-172feec24c63" />
		<http:request method="GET" doc:name="GET /goodbye" doc:id="1ad70745-67f1-4b47-b097-58ec6c81c7d0" path="/goodbye" config-ref="HTTP_Request_configuration" responseTimeout="300000" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="payload" doc:id="06a6420c-9e8a-46a4-8a53-5999b64255e7" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<flow name="goodbyeFlow" doc:id="fa35b460-8a24-4a47-8c77-c0a33266f835" >
		<http:listener doc:name="GET /goodbye" doc:id="80f834bb-7e72-4462-8a8a-0856e741131d" config-ref="HTTP_Listener_config" allowedMethods="GET" path="/goodbye"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="4892c68a-1849-4299-8c9b-0ba1413b74e5" />
		<logger level="INFO" doc:name="fullName" doc:id="06626808-f836-4682-bd39-a844a31f46a4" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
